{% include 'includes/html-header.twig' %}


  <body class="{{body_class}}">

    <!-- If using inline svgs -->
    <div class="svgSprite">
      {% include 'assets/sprite.svg' %}
    </div>

  {% include 'includes/browser-warning.twig' %}

    {% block header %}

      {% include 'partials/header.twig' %}

    {% endblock %}

    <section role="main">

      {% block content %}
        Sorry, no content
      {% endblock %}

      {% if sidebar %}
        {{sidebar}}
      {% endif %}

    </section>

    {% block footer %}

      {% include 'partials/footer.twig' %}

      {{ wp_footer() }}

    {% endblock %}

    {% include 'partials/scripts.twig' %}

  </body>
</html>
