{% extends 'base.twig' %}

{% block content %}
  <h1>Home</h1>
  {{assets.sprite_url}}
  <p>Hello world! This is a test a</p>
  {% include 'components/icon.twig' with {icon: 'facebook'}%}

{% endblock %}
