<!DOCTYPE html>
<html lang="en">
{% include '../includes/head.twig'%}
<body style="min-height: 120vh">

  <h1>Home</h1>
  <p>Hello world! This is a test paragraph</p>
  {% include '../components/icon.twig' with {icon: 'facebook'}%}
  {% include '../includes/scripts.twig' %}
</body>


</html>
